html {
    background: #222;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*Header*/
#id_HeaderWrap {
    height: 100px;
    background: #00BFFF;
    border-bottom: 2px solid #FFF;
    text-align: center;
}
#id_Logo {
    margin: 5px 0;
    height: 90px;
}

#id_MapDiv {
    position: relative;
    padding: 0;
    margin: 0;
    height: 75%;
    background: white url("../src/loading.gif") no-repeat 50% 50%;
}