html {
	background-color: #EFEFEF;
	overflow-x: hidden;
	font-family: "Montserrat", helvetica;
}

ul {
    height: 100%;
    margin: 0;
    padding: 0;
}

label {
	font-family: "Montserrat", helvetica;
	font-size: 25px;
}

select{
	background: #00BFFF;
	border-radius: 25px;
	border: none;
	padding: 2px;
	padding-left: 4px;
	padding-right:4px;
	font-size: 20px;
	text-align: center;
}

#back2top {
    float: right;
    margin-right: 0.313em;
    clear: both;
    position: fixed;
    color: black;
    background-color: #ffff00;
    height:3.125em;
    width: 3.125em;
    border: 0.063em solid black;
    
}

#back2top:hover {
    -moz-transition: background .25s ease-in-out;
    -webkit-transition: background .25s ease-in-out;
    border: 0.063em solid white;
    background-color: #00BFFF;
}

ul.itemList > li{
	text-indent: 1.250em;
}

.class_ListID {
	font-weight: bold;
    text-decoration: underline;
}

.class_EditButton {
	background-color: #00BFFF;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-family: "Montserrat", helvetica;
    border: none;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.class_EditMine {
	background-color: #00BFFF;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-family: "Montserrat", helvetica;
    border: none;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.class_EditHave {
	background-color: #00BFFF;
    border-radius: 25px;
    color: white;
    text-align: center;
    font-family: "Montserrat", helvetica;
    border: none;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.class_EditButton:hover {
	background: #00AEEE;
}

.class_EditMine:hover {
	background: #00AEEE;
}

.class_EditHave:hover {
	background: #00AEEE;
}

#id_NavItem {
    display: inline-block;
    height: 100%;
    width: 15%;
    margin: 0%;
}

#id_NavItem > ul > li:hover {
    background: #00AEEE;
}

a {
    color: #000;
    line-height: 50px;
}

#id_Logo {
    margin: 5px 0;
    height: 90px;
}

#id_NavBar {
    text-align: center;
    height: 50px;
    background: #00BFFF;
    border-bottom: 2px solid #FFF;
}

#id_HeaderWrap {
	width: 100%;
	padding: 0 10px;
	top: 0;
	height: 100px;
	background: #00BFFF;
	border: none;
	border-bottom: 1px solid #EFEFEF;
	text-align: center;
	z-index: 1;
}

body{
	margin: 0px;
}

#main{
    text-align: center;
    font-family: "Montserrat", helvetica;
    font-size: 2.500em;
	margin: none;
    margin-top: 0.625em;
    padding-top: 1.250em;
    padding-bottom: 1.250em;
	height: 100px;
	width: 100%;
    color: white;
    background-color: #1a1a1a;
}

#main:hover {
    background-color: #00BFFF;
}